// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : rgb(255, 183, 77);
$secondary : rgb(255, 249, 196);
$accent    : rgb(48, 63, 159);

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl';
