<template>
  <div class="home">
    <q-page padding class="full-width">
      <div class="text-h2 text-center q-py-lg">Welcome</div>
      <!-- <div class="flex row q-col-gutter-lg">
        <div class="col-3">
          <q-btn
            label="View Notes"
            filled
            color="accent"
            class="full-width"
            @click="$router.push('/view-notes')"
          />
        </div>
      </div> -->
    </q-page>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({})
export default class Home extends Vue {}
</script>
