<!--
  --  Main Vue/Quasar application component.
  --
  --  Displays a simple header and menu, and initializes and provides service
  --  objects for injection into child components.
  -->

<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="flat">
      <q-toolbar>
        <q-btn-dropdown round aria-label="Menu" icon="menu" color="accent">
          <q-list>
            <q-item clickable v-close-popup @click="$router.push('/')">
              <q-item-section>
                <q-item-label>Home</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-toolbar-title>My App: {{ $route.name }}</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { provide } from "vue";
import { Options, Vue } from "vue-class-component";
import { PersonService, ServiceIdentifiers } from "@/services";
import { PersonRole } from "@/models/person";
import {usersStore} from '@/store';

@Options({
  name: "Application",
})
export default class App extends Vue {
  personService!: PersonService;

  private baseUrl!: string;

  /**
   * OnCreate hook - gets the current URL and removes the path portion to
   * establish the baseUrl for services.
   */
  public async created(): Promise<void> {
    const location = new URL(window.location.toString());
    location.pathname = "";
    this.baseUrl = location.toString();

    this.personService = new PersonService(this.baseUrl);

    provide(ServiceIdentifiers.PERSON_SERVICE, this.personService);
  }

  /**
   * mounted hook - prefetches users and contacts for dropdowns.
   */
  public async mounted(): Promise<void> {
    usersStore.setPersons(
      await this.personService.fetchMany({ role: PersonRole.USER })
    );
  }
}
</script>
